<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
<link rel="shortcut icon" href="/static/assets/images/favicon.ico" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
<!-- Typography CSS -->
<link rel="stylesheet" href="/static/assets/css/typography.css">
<!-- Style CSS -->
<link rel="stylesheet" href="/static/assets/css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/static/assets/css/responsive.css">